.breadcrumb {
    background-color: transparent;
    padding-left: 0;
    margin-bottom: 0;
}

.breadcrumb > li > a {
    text-decoration: none;
    font-family: sukhumvit;
    font-size: 1.2em
}

.breadcrumb > li + li:before {
    color: #333;
}