.text-blue {
    color: #373277 !important;
}

body {
    background-color: #fff;
    color: #fff;
}

.jumbotron {
    border-radius: 0 !important;
}

.navbar-inverse.navbar {
    background-color: #4285f4;
}

.btn {
    font-weight: bold;
}

.btn-success {
    width: 180px;
    padding: 10px;
    font-size: 1.1em;
    background-color: #00E676 !important;
    color: rgba(0, 0, 0, 0.65) !important;
}

.feature-text {
    font-weight: bold;
}

.feature {
    height: 300px;
}

footer {
    background-color: #4285f4;
}

.login-button {
    font-weight: bold;
    font-size: 15px;
}

.login-button:hover {
    cursor: pointer;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    color: #424242 !important;
}

.btn-success:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    font-weight: 800;
    background-color: #2ae6b0 !important;
    color: #fff !important;
}

.link {
    font-weight: 500;
    color: #fff;
    text-decoration: underline;
}

.link:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    text-decoration: none;
    color: #B3E5FC;
}

.modal-header {
    background-color: #4285f4;
    padding-bottom: 24px !important;
}